# Copyright (c) 2026 T3CHNRD. All rights reserved.
# VMware VM mapping for NUT shutdown orchestration
# Format:
# intended_name|vcenter_name|vm_id|notes
#
# Source:
# /var/log/nut-vmware-inventory/vcenter-inventory-20260512-141229.json
#
# Important:
# This file is for mapping/hardening only.
# It does not execute shutdowns.
# VMware wrapper should eventually prefer vm_id over display-name matching.

WebServer-1|example-webserver|vm-35480|Actual vCenter name differs; VM was POWERED_OFF in export
example-exch2019|example-exch2019|vm-50269|Correct Exchange VM name; VM was POWERED_ON in export
example-WSUS|example-WSUS Server|vm-6725|Actual vCenter name includes Server; VM was POWERED_OFF in export
example-VCSA|example-vcsa|vm-48263|Actual vCenter name is lowercase; VM was POWERED_ON in export
