[Desktop Entry]
Comment=Total CPU usage
Comment[ru_RU]=Общая загрузка ЦП
Comment[uk_UA]=Загальне використання ЦП
Encoding=UTF-8
Icon=animal
Name=CatWalk
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Driglu4it
X-KDE-PluginInfo-Category=System
X-KDE-PluginInfo-Email=dr@i-glu4it.ru
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=org.kde.plasma.catwalk
X-KDE-PluginInfo-Version=0.3
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
