[Unit]
Description=EXAMPLE NUT Private Telegram Command Bot
Wants=network-online.target
After=network-online.target nut-monitor.service
PartOf=nut-monitor.service

[Service]
Type=simple
User=root
ExecStart=/usr/local/sbin/nut-telegram-command-bot
Restart=always
RestartSec=5

[Install]
WantedBy=nut-monitor.service
