# Copyright (c) 2026 T3CHNRD. All rights reserved.
[Unit]
Description=Run APC IDF2/IDF3 logging-only monitor every minute

[Timer]
OnBootSec=45sec
OnUnitActiveSec=60sec
AccuracySec=10sec
Unit=nut-apc-idf-event-monitor.service
Persistent=true

[Install]
WantedBy=timers.target
