[Unit]
Description=NUT Daily UPS Health Email
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nut-email-alert-test-send --send weekly
